<ion-header>
  <ion-toolbar>
    <ion-title>login  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <div class="login-logo">
    <br>
    <br>
    <img class="profileImage" src="https://firebasestorage.googleapis.com/v0/b/bsmm-2016e.appspot.com/o/0evn8mzqyagr?alt=media" alt="Ionic logo"> 
    
  </div>

  <form #loginForm="ngForm" novalidate>
     <ion-list lines="none">
       <ion-item  style="text-align: center;padding-left: 40%;"> 
        <ion-spinner id="myloginspiner" style="text-align: center; display: none;" name="dots"></ion-spinner> 
       </ion-item>
     
     </ion-list>
    <ion-list>
     
      <ion-item>
        <ion-label lines="none" position="stacked" color="primary">Username</ion-label>
        
        <ion-input [(ngModel)]="login.username" name="username" minlength="2" maxlength="20" type="text" #username="ngModel" spellcheck="false" autocapitalize="off"
          required>
        </ion-input>
      </ion-item>

      <ion-text color="danger">
        <p [hidden]="username.valid || submitted == false" class="ion-padding-start">
          Username is required
        </p>
      </ion-text>

      <ion-item>
        <ion-label position="stacked" color="primary" minlength="4" maxlength="8">Password</ion-label>
        <ion-input [(ngModel)]="login.userpassword" name="password" type="password" #password="ngModel" required>
        </ion-input>
      </ion-item>

      <ion-text color="danger">
        <p [hidden]="password.valid || submitted == false" class="ion-padding-start">
          Password is required
        </p>
      </ion-text>
    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button (click)="userLogin()" type="submit" expand="block">Login</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="onSignup()" color="light" expand="block">Signup</ion-button>
      </ion-col>
    </ion-row>
    <ion-list lines='none'>
      <ion-item style="text-align: center; color: red;">
        <ion-label>
         {{message}}
        
        </ion-label>
     </ion-item>
    </ion-list>
  </form>
  
  
 
</ion-content>
