.profileImage{
   
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid lightgray;
}
.eachFooter{
 
  width: 100%;
  height: 40px;
  vertical-align: center;
  
  text-align: center;
  color: gray;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.eachFooter ion-col{
  padding-top: 10px;
}
ion-col{
  
 // border: 1px solid red;
}
ion-icon{
  vertical-align: middle;
 //border: 1px solid red;
}
ion-label{
  
   vertical-align: middle;
   margin-left: 5px;
  
  // border: 1px solid red;
   
}
.contentHeader{
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.contentBody{
  padding: 0%;
}
b,p{
  margin: 1%;
  padding: 1%;
}
