<ion-header>
    <ion-toolbar color="green">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title style="color: #00cc99;">BSM</ion-title>
        <ion-item lines="none" style="float: right;">
             <ion-icon routerLink="/search" style="float: right; color:gray" name="Search"></ion-icon>
           </ion-item>
       
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-grid fixed style="background-color:#e8f0f0; padding: 0%;">
        <ion-row *ngFor="let content of contentList2" style="background-color: white;margin-bottom: 10px;padding: 0%;">

            <ion-col class="contentHeader" size="2" (click)="OnUserImage(content.posterReferanceId)"
                routerLink="/profile/{{content.posterReferanceId}}">
                <img class="profileImage" [src]="content._UserProfileImageUrl" id="{{content.posterReferanceId}}"
                    [alt]="content.name + ' profile picture'">
            </ion-col>
            <ion-col class="contentHeader" size="10">
                {{content._Username}}<br>
                {{content._countContentPosterFollowrs}} flollowers
            </ion-col>
          
            <ion-col  class="contentBody"  size="12" *ngIf="content.articleOrDescription !=null">
                
                <p> <b> {{content?.articleHeader}}</b> 
                    {{content?.articleOrDescription}}</p>
            </ion-col>
            <ion-col  class="contentBody" size="12" *ngIf="content?._ContentType === 'image'">
                <img [src]="content._ContentImageURLs[0]">
            </ion-col>
            <ion-col  class="contentBody" size="12" *ngIf="content?._ContentType === 'video'">
                <video style="width: 100%; min-height:0;  text-align: center;" controls preload="auto">
                    <source src="{{content._ContentImageURLs[0]}}#t=00:00:01" type="video/mp4">
                </video>
            </ion-col>
          
            <ion-row class="eachFooter">
                <ion-col id={{content.contentPostId}} size="4" (click)="likeThisContent(content.contentPostId)">
               
                    {{content._countContentLikes}} like
                
            </ion-col>
           
            <ion-col  size="4" (click)="OnComment(content)" routerLink="/comments/{{content.contentPostId}}">

              
                    {{content._conmentLenght}} comment
             
            </ion-col>
            <ion-col  size="4" (click)="followThisContentPoster(content.posterReferanceId)">
                
                follow
        
        </ion-col>
            </ion-row>
            
            <!-- test -->

        </ion-row>
    </ion-grid>
</ion-content>