.profileImage{
   
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid lightgray;
}
.eachFooter{
  text-align: center;
}
ion-col{
  //border: 1px solid red;
}
.contentHeader{
  border-bottom: 1px solid lightgray;
}
.contentBody{
  padding: 0%;
}
b,p{
  margin: 1%;
  padding: 1%;
}
