.profileImage{
   
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid lightgray;
}
.profileImage2
{
    width: 126px;
    height: 126px;
    padding: 0%;
    margin: 0%;
    border-radius: 3%;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;

    //border: 1px solid green;

   
}
.wraper{
 
  padding: 0%;
  margin: 0%;
  margin: 1%;
  margin-right: 2%;
  
  width: 100%;
  //background-color: lightgray;
  
}
.box{
  width: 126px;
  background-color: white;
  text-align: center;
  padding-left: 0%;
  padding-right: 0%;
  margin: 0%;
 
  border-top-right-radius:3%;
  border-top-left-radius:3%;

  text-transform: capitalize;
  
  //font-style: italic;
  
}

.eachFooter{
 
  width: 100%;
  height: 45px;
  vertical-align: center;
  
  text-align: center;
  color: gray;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.eachFooter ion-col{
  padding-top: 10px;
}
ion-col{
  

 //border: 1px solid red;
}
ion-icon{
  vertical-align: middle;
 //border: 1px solid red;
}
ion-label{
  
   vertical-align: middle;
   margin-left: 5px;
  
  // border: 1px solid red;
   
}
.contentHeader{
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.contentBody{
  padding: 0%;
}
b,p{
  margin: 1%;
  padding: 2%;
}
p , ion-label{
  font-size: 14px;
}