<ion-header>
    <ion-toolbar color="green">
        <!-- <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons> -->
        <ion-title style="color: #00cc99;">BSM </ion-title>
        <!-- <ion-button size="small" (click)="ReturnContentPost()"></ion-button> -->
        <ion-item lines="none" style="float: right;">
            <ion-icon routerLink="/search" style="float: right; color:gray" name="Search"></ion-icon>
        </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-row id="mysponer" style="text-align: center; margin-top: 50%;">
        <ion-col size="12">
            <ion-spinner name="dots"></ion-spinner> <br>
            loading..
        </ion-col>
    </ion-row>




    <ion-grid fixed style="padding: 0%; background-color: lightgray;">

        <ion-row>
          
            <ion-col *ngIf="users!= null" size="12">

                <ion-segment scrollable style="border-radius: 0%; width: 100%; padding: 0%; margin: 0%; background-color: lightgray;">

                    <div id="{{item?.userId}}" class="wraper" *ngFor="let item of users">
                        <div class="box">
                            <img class="profileImage2" src="{{item?.profileImageURL}}" id="{{item?.userId}}" (click)="OnUserImage(item?.userId)"> <br>


                        </div>
                        <div class="box">

                            {{item?.userName}}
                            <br>
                            <ion-button color="light" size="small" >
                               <p style="text-transform: capitalize;">conntect</p> 
                            </ion-button>
                            <br>
                        </div>
                    </div>

                </ion-segment>
            </ion-col>
        </ion-row>
        <ion-row *ngFor="let content of contentList2" style="background-color: white;margin-bottom: 7px;padding: 0%;">

            <ion-col class="contentHeader" size="2" (click)="OnUserImage(content.posterReferanceId)"
                routerLink="/profile/{{content.posterReferanceId}}">
                <img class="profileImage" [src]="content._UserProfileImageUrl" id="{{content.posterReferanceId}}"
                    [alt]="content._Username + ' profile picture'">
            </ion-col>
            <ion-col class="contentHeader" size="7" style="text-align: left; padding-left: 0%;">
                <p> <b style="text-transform: capitalize; vertical-align: middle;margin-left: 0; padding-left: 0%;">
                        {{content._Username}}
                    </b> <br>

                    {{content._countContentPosterFollowrs}} flollowers{{texts1}}
                </p>
            </ion-col>
            <ion-col class="contentHeader" size="3" style="text-align: center;">

                <ion-button size="small" (click)="followThisContentPoster(content.posterReferanceId)"
                    id={{content.posterReferanceId+400}} color="light">
                    <p style="color: gray;">follow</p>
                </ion-button>

            </ion-col>
            <ion-col class="contentBody" size="12" *ngIf="content.articleOrDescription !=null">

                <p>

                    <b> {{content?.articleHeader}}</b>
                    {{content?.articleOrDescription}} </p>
            </ion-col>
            <ion-col class="contentBody" size="12" *ngIf="content?._ContentType === 'image'">
                <img [src]="content._ContentImageURLs[0]">
            </ion-col>
            <ion-col class="contentBody" size="12" *ngIf="content?._ContentType === 'video'">
                <video style="width: 100%; min-height:0;  text-align: center;" controls preload="auto">
                    <source src="{{content._ContentImageURLs[0]}}#t=00:00:01" type="video/mp4">
                </video>
            </ion-col>

            <ion-row class="eachFooter">
                <ion-col (click)="likeThisContent(content.contentPostId)" size="4">

                    <ion-icon id={{content.contentPostId+100}} size="small" name="thumbs-up-outline"></ion-icon>
                    <ion-label id={{content.contentPostId}}> {{ content._countContentLikes}} like</ion-label>


                </ion-col>

                <ion-col size="5" (click)="OnComment(content)" routerLink="/comments/{{content.contentPostId}}">

                    <ion-icon size="small" name="chatbox-outline"></ion-icon>

                    <ion-label>
                        {{content._countComments}} comment
                    </ion-label>

                </ion-col>

                <ion-col size="3" (click)="Share(content.contentPostId)">

                    <ion-icon id={{content.contentPostId+300}} size="medium" name="arrow-redo-outline"></ion-icon>
                    share

                </ion-col>
            </ion-row>

            <!-- test -->

        </ion-row>
    </ion-grid>
</ion-content>