.profileImage
{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    vertical-align: center;
   
}
.signup-logo {
    padding: 20px 0;
    min-height: 150px;
    text-align: center;
    //border: 1px solid red;
  }
  
  .signup-logo img {
    max-width: 150px;
  }
  
  .list {
    margin-bottom: 0;
  }
  
  #lblMessage{
    text-align: center;
  }