<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
  </ion-buttons>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="signup-logo">
    <br>
    <br>
    <img class="profileImage" src="https://firebasestorage.googleapis.com/v0/b/bsmm-2016e.appspot.com/o/0evn8mzqyagr?alt=media" alt="Ionic logo"> 
  
  
  </div>

  <form #signupForm="ngForm" novalidate>
    <ion-list lines="none">
      <ion-item  style="text-align: center;padding-left: 40%;"> 
        <ion-spinner id="mysignupspiner" style="text-align: center; display: none;" name="dots"></ion-spinner> 
       </ion-item>
     </ion-list>
    <ion-list >
      <ion-item>
        <ion-label position="stacked" color="primary">full name</ion-label>
        <ion-input [(ngModel)]="signup.username" name="username" maxlength="50" type="text" #username="ngModel" required>
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        <p [hidden]="username.valid || submitted == false" class="ion-padding-start">
          Username is required
        </p>
      </ion-text>

      <ion-item>
        <ion-label position="stacked" color="primary">email </ion-label>
        <ion-input [(ngModel)]="signup.useremail" name="username" maxlength="50" type="text" #useremail="ngModel" required>
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        <p [hidden]="useremail.valid || submitted == false" class="ion-padding-start">
          email is required
        </p>
      </ion-text>

      <ion-item>
        <ion-label position="stacked" color="primary">Password</ion-label>
        <ion-input [(ngModel)]="signup.userpassword" name="password" maxlength="15" type="password" #password="ngModel" required>
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        <p [hidden]="password.valid || submitted == false" class="ion-padding-start">
          Password is required
        </p>
      </ion-text>
    </ion-list>

    <div class="ion-padding">
      <ion-button (click)="userSignup()" type="submit" expand="block">Create</ion-button>
    </div>
    <ion-list>
      <ion-item>
        <ion-label id="lblMessage">
         {{message}}
        
        </ion-label>
     </ion-item>
    </ion-list>
  </form>

</ion-content>
