.profileImage{
   
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid lightgray;
}
.contentHeader{
    border-bottom: 1px solid lightgray;

}
.profileImageCommenter{
    margin-top: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    
    border: 1px solid lightgray;
}
.commenterColumen{
    text-align: center;
  
}
p{
    //margin: 0;
}

ion-button{
    margin: 0;
    height: 100%;
    width: 70px;
    border-radius: 0;
    
}
ion-col{
 //vertical-align: center;
 //border: 1px solid red;
}
ion-row{
    //border-bottom: 1px solid lightgray;
}