
.profileImage{
   
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid lightgray;
}.ContentImage{
    min-height: 150px;
}
.contentHeader{
    border-top: 1px solid lightgray;

}
.profileImageCommenter{
    margin-top: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    
    border: 1px solid lightgray;
}
.commenterColumen{
    text-align: center;
  
}
p{
    margin: 0;
    padding-left: 2%;
    padding-right:2%;
    padding-bottom: 2%;
}

ion-button{
    margin: 0;
    height: 100%;
    width: 70px;
    border-radius: 0;
    
}
.eachFooter{
 
    width: 100%;
    height: 40px;
    vertical-align: center;
    
    text-align: center;
    color: gray;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }

  .contentBody{
    padding: 0%;
  }
ion-col{
 //vertical-align: center;
 //border: 1px solid red;
}
ion-row{
    //border-bottom: 1px solid green;
}
p{
    margin-top: 0em;
}
ion-button{
    margin: 0;
    right: 0;
}