<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size-md="6" size-sm="12" style="height: 200px; background-color:whitesmoke;">
              <br>
                <img class="profileImage" title="Profile Image" [src]=imageUrl>
            </ion-col>
           
      
            <ion-col size="12">
              <ion-item>
                <input style="width: 80%;" type="file" id="upload_photo" #Image accept="image/*" (change)="handleFileInput($event)">
                <ion-button style="width: 20%;" (click)="OnSubmit()" color="success" size="small">save</ion-button>
            
              </ion-item>
                
            </ion-col>
        </ion-row>
    
        <ion-row>
            <ion-col>
              about 
            </ion-col>
            <ion-col>
                actitivey 
              </ion-col>
              <ion-col>
                Contact 
              </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
