<ion-header translucent>
 
 
  <ion-toolbar>
   
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
   
      <ion-searchbar #mySearchInput></ion-searchbar>
   
     
   
    
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list>
    <ion-item routerLink="/detail/:{{233333}}">Amsterdam</ion-item>
    <ion-item>Bogota</ion-item>
    <ion-item>Buenos Aires</ion-item>
    <ion-item>Cairo</ion-item>
    <ion-item>Dhaka</ion-item>
    <ion-item>Edinburgh</ion-item>
   
  
  </ion-list>

  
</ion-content>

<script>
  const searchbar = document.querySelector('ion-searchbar');
  const items = Array.from(document.querySelector('ion-list').children);

  searchbar.addEventListener('ionInput', handleInput);

  function handleInput(event) {
    const query = event.target.value.toLowerCase();
    requestAnimationFrame(() => {
      items.forEach(item => {
        const shouldShow = item.textContent.toLowerCase().indexOf(query) > -1;
        item.style.display = shouldShow ? 'block' : 'none';
      });
    });
  }
</script>