<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs/home"></ion-back-button>
      </ion-buttons>
    <ion-title>connectionrequester</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed style="background-color:lightgray; padding: 0%;">
        <ion-row >
            <ion-col *ngFor="let item of users" size="6" size-md="6" size-sm="6">
                <div class="box">
                    <img class="profileImage" src="{{item.profileImageURL}}" id="{{item.userId}}"> <br>
             
                </div>
                <div class="box">
                    <ion-label>
                        {{item.userName}}
                    </ion-label>
                </div>
                <div class="box"> 
                    <a class="btn"
                    style="color:gray;"
                    id="{{item.userId}}" #posterRefId (click)="RemoveConnectConnectRequest(posterRefId.id)" role="button">
                    Remove
                </a>
                    <a class="btn"
                    style="color:white; background-color:#33cc33;"
                    id="{{item.userId}}" #posterRefId (click)="AcceptConnectRequest(posterRefId.id)" role="button">
                    Accept
               
                </a> 
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
