<ion-app >
  <ion-split-pane contentId="main-content">

    <ion-menu contentId="main-content">
      <ion-content>
        <ion-list lines="none">
          <ion-list-header>
           BSM
          </ion-list-header>
     
        </ion-list>

        <ion-list  lines="none">
          <ion-list-header>
        
          </ion-list-header>
          <ion-menu-toggle autoHide="false" style="text-align: center; padding-left: 50px;">
            
        
              <img class="profileImage"  [src]="UserProfile" routerLink="/my-profile/{{userid}}">
              
             
             <br>
          
         
            {{username}}
        
          </ion-menu-toggle>
          <hr>
          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="tabs/home" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="home"></ion-icon>
              <ion-label>
                home
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/myconnections" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label>
                myconnections
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/connectionrequester" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="help"></ion-icon>
              <ion-label>
                connection requester
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          
          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/connectionsender" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="help"></ion-icon>
              <ion-label>
                connection sender 
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/my-posts" button  detail="false">
              <ion-icon slot="start" name="posts"></ion-icon>
              <ion-label>
                my posts
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          

        </ion-list>

        <ion-list  lines="none">
          <ion-list-header>
            Account
          </ion-list-header>

          <ion-menu-toggle autoHide="false">
            <ion-item (click)="logout()" routerLink="/login" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="log-in"></ion-icon>
              <ion-label>
                logout
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

         

        

       
        </ion-list>

       
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>

</ion-app>
