<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>545983473559-e8cbammrofrtigqakanng7keetq07uka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.545983473559-e8cbammrofrtigqakanng7keetq07uka</string>
	<key>API_KEY</key>
	<string>AIzaSyD9EKRPr436lGEwq3avT5-4nD2fafsiLWY</string>
	<key>GCM_SENDER_ID</key>
	<string>545983473559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bsm.socialmedia</string>
	<key>PROJECT_ID</key>
	<string>bsmm-2016e</string>
	<key>STORAGE_BUCKET</key>
	<string>bsmm-2016e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545983473559:ios:8f60c6105fb727fa4e86d2</string>
	<key>DATABASE_URL</key>
	<string>https://bsmm-2016e.firebaseio.com</string>
</dict>
</plist>