.profileImage
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
   
}
.box{
    text-align: center;
    padding: 5%;
    margin: 1%;
    border: 1px solid lightgray;
    text-transform: capitalize;
    font-style: italic;
    
}