<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin: 0%;">
    <p style="height: 0; align-items: center;  text-align: center; visibility: hidden;" id="myspiner234;">

      posting your content...
    </p>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <img class="profileImage" id="" [src]="_profileImage_1">
      </ion-col>
      <ion-col size="10" style="text-align: right;">
        <label for="cars">Choose </label>

        <select id="cars">
          <option value="volvo">public</option>
          <option value="saab">private</option>
          <option value="saab">follower</option>
        </select>
      </ion-col>
      <ion-col size="12">
        <form #imageForm="ngForm">
          
           
              <h4 style="word-wrap: break-word;">{{articleHeader}}</h4>
      
              <p style="word-wrap: break-word;">
                {{articleOrDescription}}
                {{articleOrDescription?.length}}
              </p>
      
      
              <img [src]="imageUrl" style="width: 100%; height: auto;">
      
      
              <input id="upload_photo" type="file" #Image accept="audio/*;capture=microphone"
                (change)="handleFileInput($event)">
      
           
              <textarea id='' placeholder="Write a header  for your post" name='articleHeader' [(ngModel)]='articleHeader'
                type='text'>
                </textarea>
              <hr>
      
              <textarea style="min-height:100px" matInput placeholder="Write a description or article"
                name='articleOrDescription' [(ngModel)]='articleOrDescription'></textarea>
      
      
         
              <h4 id="postedMesage" style="text-transform: uppercase; font-weight: lighter;">
                {{message}}
              </h4>
             
      
             
          
        
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
<input type="button" value="Post" (click)="UpladFileToFirebase(imageForm)" class="btn btn-success btn-submit"
style="width: 100%;">