<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
      <ion-row>
          <ion-col size-md="6" size-sm="12" style="height: 200px; background-color:whitesmoke;">
            <br>
              <img class="profileImage" title="Profile Image" src='{{profile?.profileImageURL}}'>
          </ion-col>
         <ion-col size="12">
          {{profile?.userName}}
         </ion-col>
    
          <ion-col size="12">
            <ion-item>
                <ion-button style="width: 30%; float: right;"  color="success" size="small">send request</ion-button>
          
            </ion-item>
              
          </ion-col>
      </ion-row>
  
      <ion-row>
          <ion-col>
            about 
          </ion-col>
          <ion-col>
              actitivey 
            </ion-col>
            <ion-col>
              Contact 
            </ion-col>
      </ion-row>
  </ion-grid>

</ion-content>